Projects/Multi/Applications/LoRa/End_Node_IKS01A1/MDK-ARM/B-L072Z-LRWAN1/DebugConfig/
Projects/Multi/Applications/LoRa/End_Node_IKS01A1/MDK-ARM/B-L072Z-LRWAN1/mlm32l07x01/
Projects/Multi/Applications/LoRa/End_Node_IKS01A1/MDK-ARM/B-L072Z-LRWAN1/*.scvd
Projects/Multi/Applications/LoRa/End_Node_IKS01A1/MDK-ARM/B-L072Z-LRWAN1/*.SK
